<h1>Listing sponsor_types</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sponsor_types.each do |sponsor_type| %>
  <tr>
    <td><%= sponsor_type.title %></td>
    <td><%= sponsor_type.description %></td>
    <td><%= link_to 'Show', sponsor_type %></td>
    <td><%= link_to 'Edit', edit_sponsor_type_path(sponsor_type) %></td>
    <td><%= link_to 'Destroy', sponsor_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sponsor type', new_sponsor_type_path %>
