<%= form_for(@session, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@session.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
      <% @session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= bootstrap_field f, :title do %>
    <%= f.text_field :title %>
  <% end %>
  <%= bootstrap_field f, :start do %>
    <%= f.text_field :start, :class => 'datepicker' %>
    <a href="#" class="copy-time" data-source="session_start" data-destination="session_end">Copy Start to End</a>
  <% end %>
  <%= bootstrap_field f, :end do %>
    <%= f.text_field :end, :class => 'datepicker' %>
  <% end %>
  <%= bootstrap_field f, :location_id do %>
    <%= collection_select(:session, 
                          :location_id, 
                          Location.all, 
                          :id, 
                          :name, 
                          :prompt => 'Select a location') %>
  <% end %>
  <%= bootstrap_field f, :session_type_id do %>
    <%= collection_select(:session, 
                          :session_type_id, 
                          SessionType.all, 
                          :id, 
                          :title, 
                          :prompt => 'Select a session type') %>
  <% end %>
  <%= bootstrap_field f, :description do %>
    <%= f.text_area :description %>
  <% end %>
  
  <%= bootstrap_field f, :guests do %>
    <%= collection_select(:session, 
                          :guest_ids, 
                          Guest.all, 
                          :id, 
                          :name, 
                          {}, {
                          	:multiple => 'true'
                          }) %>
  <% end %>
  
  <div class="form-actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>

<script>

$(function() {
  $(".datepicker").datetimepicker({
  	dateFormat: 'yy-mm-dd', 
  	timeFormat: 'hh:mm:ss', 
  	ampm: false
  });
  
  $('.copy-time').click(function(e){
    e.preventDefault();
    var val = $('#' + $(this).attr('data-source')).val();
    $('#' + $(this).attr('data-destination')).val(val);
  });
});

</script>
