<%= form_for(@session, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@session.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
      <% @session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title %>
    <div class="controls"><%= f.text_field :title %></div>
  </div>
  <div class="control-group">
    <%= f.label :start %>
    <div class="controls"><%= f.text_field :start, :class => 'datepicker' %></div>
  </div>
  <div class="control-group">
    <%= f.label :end %>
    <div class="controls"><%= f.text_field :end, :class => 'datepicker' %></div>
  </div>
  <div class="control-group">
    <%= f.label :location_id %>
    <div class="controls"><%= collection_select(:session, 
                          :location_id, 
                          Location.all, 
                          :id, 
                          :name, 
                          :prompt => 'Select a location') %></div>
  </div>
  <div class="control-group">
    <%= f.label :session_type_id %>
    <div class="controls"><%= f.text_field :session_type_id %></div>
  </div>
  <div class="control-group">
    <%= f.label :description %>
    <div class="controls"><%= f.text_area :description %></div>
  </div>
  
  <div class="control-group">
    <%= f.label :guests %>
    <div class="controls"><%= collection_select(:session, 
                          :guests, 
                          Guest.all, 
                          :id, 
                          :name, 
                          {}, {
                          	:multiple => 'true'
                          }) %></div>
  </div>
  
  <div class="form-actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>

<script>

$(function() {
  $(".datepicker").datetimepicker({
  	dateFormat: 'yy-mm-dd', 
  	timeFormat: 'hh:mm:ss', 
  	ampm: false
  });
});

</script>