<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @session.title %>
</p>

<p>
  <b>Start:</b>
  <%= @session.start %>
</p>

<p>
  <b>End:</b>
  <%= @session.end %>
</p>

<% unless @session.location.nil? %>
<p>
  <b>Location:</b>
  <%= @session.location.name %>
</p>
<% end %>

<p>
  <b>Session type:</b>
  <%= @session.session_type.title %>
</p>

<p>
  <b>Description:</b>
  <%= @session.description %>
</p>


<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
