<%= form_for(@venue_map, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @venue_map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venue_map.errors.count, "error") %> prohibited this venue_map from being saved:</h2>

      <ul>
      <% @venue_map.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= bootstrap_field f, :venue_id do %>
    <%= collection_select(:venue_map, 
                          :venue_id, 
                          Venue.all, 
                          :id, 
                          :name, 
                          :prompt => 'Select a venue') %>
  <% end %>
  <%= bootstrap_field f, :map_image do %>
    <%= f.file_field :map_image %>
  <% end %>
  <%= bootstrap_field f, :map_name do %>
    <%= f.text_field :map_name %>
  <% end %>
  <div class="form-actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
