<h1>Listing venue_maps</h1>

<table>
  <tr>
    <th>Venue</th>
    <th>Map name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @venue_maps.each do |venue_map| %>
  <tr>
    <td><%= venue_map.venue_id %></td>
    <td><%= venue_map.map_name %></td>
    <td><%= link_to 'Show', venue_map %></td>
    <td><%= link_to 'Edit', edit_venue_map_path(venue_map) %></td>
    <td><%= link_to 'Destroy', venue_map, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Venue map', new_venue_map_path %>
