<p id="notice"><%= notice %></p>

<%= image_tag @marker.marker_image.url %>

<p>
  <b>Title:</b>
  <%= @marker.title %>
</p>

<p>
  <b>Anchor position:</b>
  <%= @marker.anchor_x %> &times; <%= @marker.anchor_y %>
</p>

<%= link_to 'Edit', edit_marker_path(@marker) %> |
<%= link_to 'Back', markers_path %>
