<p id="notice"><%= notice %> <%= link_to 'Create New Session Type', new_session_type_path %></p>

<p>
  <b>Title:</b>
  <%= @session_type.title %>
</p>

<p>
  <b>Description:</b>
  <%= @session_type.description %>
</p>


<%= link_to 'Edit', edit_session_type_path(@session_type) %> |
<%= link_to 'Back', session_types_path %>
