<%= form_for(@venue_travel_detail, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @venue_travel_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venue_travel_detail.errors.count, "error") %> prohibited this venue_travel_detail from being saved:</h2>

      <ul>
      <% @venue_travel_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= bootstrap_field f, :venue_id do %>
    <%= collection_select(:venue_travel_detail, 
                          :venue_id, 
                          Venue.all, 
                          :id, 
                          :name, 
                          :prompt => 'Select a venue') %>
  <% end %>
  <%= bootstrap_field f, :method do %>
    <%= f.text_field :method %>
  <% end %>
  <%= bootstrap_field f, :details do %>
    <%= f.text_area :details %>
  <% end %>
  <div class="form-actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
