<h1>Listing Venue Travel Details</h1>

<table class="table table-bordered table-striped">
<thead>
  <tr>
    <th>Venue</th>
    <th>Method</th>
    <th colspan="3"></th>
  </tr>
</thead>
<tbody>
<% @venue_travel_details.each do |venue_travel_detail| %>
  <tr>
    <td><%= venue_travel_detail.venue.name %></td>
    <td><%= venue_travel_detail.method %></td>
    <td><%= link_to 'Show', venue_travel_detail %></td>
    <td><%= link_to 'Edit', edit_venue_travel_detail_path(venue_travel_detail) %></td>
    <td><%= link_to 'Destroy', venue_travel_detail, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
<tfoot>
	<tr><td colspan="5">
		<%= link_to 'New Venue travel detail', new_venue_travel_detail_path %>
	</td></tr>
</tfoot>
</tbody>
</table>


