<%= form_for(@sponsor, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @sponsor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sponsor.errors.count, "error") %> prohibited this sponsor from being saved:</h2>

      <ul>
      <% @sponsor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= bootstrap_field f, :name do %>
    <%= f.text_field :name %>
  <% end %>
  <%= bootstrap_field f, :logo do %>
    <%= f.file_field :logo %>
  <% end %>
  <%= bootstrap_field f, :sponsor_type_id do %>
    <%= collection_select(:sponsor, 
                          :sponsor_type_id, 
                          SponsorType.all, 
                          :id, 
                          :title, 
                          :prompt => 'Select a sponsor type') %>
  <% end %>
  <%= bootstrap_field f, :description do %>
    <%= f.text_area :description %>
  <% end %>
  <%= bootstrap_field f, :website do %>
    <%= f.text_area :website %>
  <% end %>
  <%= bootstrap_field f, :twitter do %>
    <%= f.text_area :twitter %>
  <% end %>
  <%= bootstrap_field f, :facebook do %>
    <%= f.text_area :facebook %>
  <% end %>
  <%= bootstrap_field f, :location_id do %>
    <%= collection_select(:sponsor, 
                          :location_id, 
                          Location.all, 
                          :id, 
                          :name, 
                          :prompt => 'Select a location') %>
  <% end %>
  <div class="form-actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
