<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @sponsor.name %>
</p>

<% unless @sponsor.logo.nil? %>
<%= image_tag @sponsor.logo.url %>
<% end %>

<% unless @sponsor.sponsor_type.nil? %>
<p>
  <b>Sponsor type:</b>
  <%= @sponsor.sponsor_type.title %>
</p>
<% end %>

<p>
  <b>Description:</b>
  <%= @sponsor.description %>
</p>

<p>
  <b>Website:</b>
  <%= @sponsor.website %>
</p>

<p>
  <b>Twitter:</b>
  <%= @sponsor.twitter %>
</p>

<p>
  <b>Facebook:</b>
  <%= @sponsor.facebook %>
</p>

<% unless @sponsor.location.nil? %>
<p>
  <b>Location:</b>
  <%= @sponsor.location.name %>
</p>
<% end %>


<%= link_to 'Edit', edit_sponsor_path(@sponsor) %> |
<%= link_to 'Back', sponsors_path %>
