<%= form_for(@venue, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
      <% @venue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= bootstrap_field f, :name do %>
    <%= f.text_field :name %>
  <% end %>
  <%= bootstrap_field f, :description do %>
    <%= f.text_area :description %>
  <% end %>
  <div class="form-actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
