<p id="notice"><%= notice %> <%= link_to 'Create New Venue', new_venue_path %></p>

<p>
  <b>Name:</b>
  <%= @venue.name %>
</p>

<p>
  <b>Description:</b>
  <%= @venue.description %>
</p>


<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
