<div class="row-fluid">

<%= form_for(@location, :html => {:class => "form-horizontal span6"}) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= bootstrap_field f, :name do %>
    <%= f.text_field :name %>
  <% end %>
  <%= bootstrap_field f, :description do %>
    <%= f.text_area :description %>
  <% end %>
  <%= bootstrap_field f, :venue_map_id do %>
    <%= collection_select(:location, 
              :venue_map_id, 
              VenueMap.all, 
              :id, 
              :map_name, 
              :prompt => 'Select a venue map') %>
  <% end %>
  <%= bootstrap_field f, :marker_id do %>
    <%= collection_select(:location, 
					  :marker_id, 
					  Marker.all, 
					  :id, 
					  :title, 
					  :prompt => 'Select a marker') %>
  <% end %>
  <%= bootstrap_field f, :x do %>
    <%= f.text_field :x %>
  <% end %>
  <%= bootstrap_field f, :y do %>
    <%= f.text_field :y %>
  <% end %>
  <div class="form-actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>

<div id="location-edit-container" class="span6" style="overflow: auto;">

<div id="map-container"></div>
</div>

</div>

<script type="text/javascript">
$(document).ready(function(){

var VML = new Samaranch.VenueMapLoc({
	container: 'map-container',
	x_dst: 'location_x',
	y_dst: 'location_y',
	mapswitch: 'location_venue_map_id'
});

});
</script>
