<h1>Listing Locations</h1>

<table class="table table-bordered table-striped">
<thead>
  <tr>
    <th>Name</th>
    <th>Venue</th>
    <th>Venue map</th>
    <th colspan="3"></th>
  </tr>
</thead>
<tbody>
<% @locations.each do |location| %>
  <tr>
    <td><%= location.name %></td>
    <td><%= location.venue_map.venue.name %></td>
    <td><%= location.venue_map.map_name %></td>
    <td><%= link_to 'Show', location %></td>
    <td><%= link_to 'Edit', edit_location_path(location) %></td>
    <td><%= link_to 'Destroy', location, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
<tfoot>
	<tr><td colspan="6">
		<%= link_to 'Create New Location', new_location_path %>
	</td></tr>
</tfoot>
</tbody>
</table>
