<!DOCTYPE html>
<html>
<head>
  <title>Samaranch</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
  
  Samaranch.Prefs = <%= raw prefs %>;
  
  </script>
</head>
<body>

<%= tabs %>
<div class="container-fluid">
<%= yield %>
</div>

</body>
</html>
